# Core LangChain + LangGraph
langchain
langchain[openai]
langchain[groq]
langgraph
langgraph-checkpoint-postgres
langgraph-cli[inmem]
langchain_tavily
sentence-transformers
langchain-huggingface

# Crawling & Parsing
crawl4ai
feedparser

# Database & Persistence
aiosqlite
psycopg2-binary
psycopg[binary,pool]

# Utilities
python-dotenv
pyyaml
pandas
numpy
requests
markdown

# APIs / UI
fastapi[standard]
streamlit
streamlit-option-menu
langgraph-sdk
langchain-community 
faiss-cpu
passlib[bcrypt]